.display {
  background-color: #252730;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 182px;
  justify-content: center;
  margin: 0 30px 90px 0;
  padding: 20px;
  width: 50%;
}
